.message{
    font:bolder;
    color:green;
    font-size: large;
}
.continue{
    margin-top: 30px;
    margin-bottom: 270px;
    color: rgb(0, 0, 255);
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    
}
// .tabl{
//     margin-bottom: 200px;
// }